body{
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}
h1{
    color: blueviolet;
}
.memory{
    background-color: #eee;
    /* padding: 20px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 200px;
    align-self:flex-end;
    height: 1150px;
    /* top: 5%; */
    position: absolute;

}
.hole{
    background-color: darkgoldenrod;
    /* border: 0.7px solid #0f0; */
    color: whitesmoke;

    margin-top: 1px;
    /* height: 100px; */
    display: flex;
    /* align-self: center; */
    width: 100%;
    font-size: 12px;

    /* align-items: center; */
    /* justify-content: center; */
    position: absolute;
}
.oldProcess{
    background-color: darkred;
    color: whitesmoke;
    /* border: 0.7px solid darkred; */
    display: flex;
    font-size: 12px;

    width: 100%;
    position: absolute;
}
.process{
    background-color: darkblue;
    font-size: 12px;
    color: whitesmoke;
    border: 0.7px solid #00f;
    display: flex;
    width: 100%;
    position: absolute;
}

.holeEndIndex{
    color: #ccc;
    font-size: 12px;
    position: absolute;
    top: calc(100% - 10px);
    left: -26px;
}

