body{
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}
h1{
    color: blueviolet;
}
.memory{
    background-color: #111;
    /* padding: 20px; */
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    width: 200px;
    align-self:flex-end;
    height: 1150px;
    /* top: 5%; */
    position: absolute;
    padding-left: 20px;

}
.hole{
    background-color: #ff6c00;
    /* border: 0.7px solid #0f0; */

    margin-top: 1px;
    /* height: 100px; */
    display: flex;
    /* align-self: center; */
    width: 100%;

    /* align-items: center; */
    /* justify-content: center; */
    position: absolute;
}
.oldProcess{
    background-color: #a0204c;
    /* border: 0.7px solid darkred; */
    display: flex;

    width: 100%;
    position: absolute;
}
.process{
    background-color: #23103a;
    /* border-bottom: 0.7px solid #eae7af; */
    border-top: 0.7px solid lightgreen;
    display: flex;
    width: 100%;
    position: absolute;
}

.hole,.oldProcess,.process{
    font-size: 0.6rem;
    text-transform: capitalize;
    padding-left: 2px;
    color: #fff;
}



.endSizeContainer{
    /* background-color: red !important; */
    width: 20px;
    z-index: 1000;
    color: lightgreen !important;
    color: #ccc;
    font-size: 0.5rem;

    position: absolute;
    top: calc(100% - 5.4px);
    text-align: right;
    display: block;
    left: -20px;
}
.holeEndIndex::after{
content: "-";
}